In [30]:
from QuantLib import *
import QuantLib as ql
import pandas as pd
import numpy as np
from copy import deepcopy
import os 
from scipy.optimize import newton
import bmaOs as bma
import pymongo as py

In [5]:
class BmaScenarios:
    
    def Scen1(self,Xspreads):
        __name='Scen1'
        for n in range(1,len(Xspreads)):
        #+15bps per year for 10 years level thereafter
            Xspreads[n].setValue(-0.0015*min(n,10)) 
        return Xspreads,__name
    
    def Scen2(self,Xspreads):
        __name='Scen2'
        for n in range(1,len(Xspreads)):
        #+15bps per year for 10 years level thereafter
            Xspreads[n].setValue(+0.00150*min(n,10)) 
        return Xspreads,__name
    
    def Scen3(self,Xspreads):
        __name='Scen3'
        for n in range(1,len(Xspreads)):
        #+30bps per year for 5 years then back to 0
            if n<5:
                Xspreads[n].setValue(+0.003*min(n,10)) 
            else:
                Xspreads[n].setValue(0.015-0.03*min(n,10))    
        return Xspreads,__name

In [6]:
path='/Users/gabounet/Quant_Finance/bma_discount2019Q1.xlsx'
todayDate = ql.Date(30, 9, 2019)

dfbma=pd.read_excel(path,sheet_name='test')
dfbma['US']=dfbma['US']
dfbma['US'].head()
dfbma.insert(0, 'ID', range(0, len(dfbma)))
dfbma['Date']=TARGET().advance(todayDate,0,Years)

## Helper functions

In [7]:



def valuation_formula( y):
    return ql.TARGET().advance(todayDate,y,Months)

dfbma['Date'] = dfbma.apply(lambda row: valuation_formula(row['ID']), axis=1)

df_bmaScen=dfbma[['ID','Date','US']]
df_bmaScen.head()


def extractInfoFromCurve(valDate,originScenCurve,xspreads,colNames,spotCurve):
    rates=[]
    dates=list(spotCurve.dates())
    print(len(dates))
    years=0
    __scenCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(originScenCurve),[ ql.QuoteHandle(q) for q in xspreads ],spotDates)
   
    for t in range(0,98):
        #years=years+1
        date=dates[t]
        #nb years between valuation date and future date
        yearPassed=ql.Thirty360().yearFraction(valDate, date)
        if yearPassed>97:
            break
        #append to the list
        rates.append(__scenCurve.zeroRate(yearPassed,ql.Compounded).rate())
    #reutrns a dataframe of date & scenario curve    
    return pd.DataFrame(list(zip(dates, rates)),columns=colNames)

# Creating a schedule

In [8]:
#Schedule generation
effective_date = ql.Date(30, 9, 2019)
termination_date = ql.Date(30, 9, 2118)
tenor = ql.Period(ql.Annual)
calendar = ql.UnitedStates()
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = True
schedule = ql.Schedule(effective_date,
                             termination_date,
                             tenor,
                             calendar,
                             business_convention,termination_business_convention,
                             date_generation,
                             end_of_month)
#pd.DataFrame({'date': list(schedule)})

# Creating a term structure of interest

In [9]:

mybma=BmaScenarios()
#inputs from dataframe
spotRates = dfbma['US'].tolist()[0:100]
#dates that are incremented in yearts for the lenght of the term structure
#spotDates=[TARGET().advance(todaysDate,n,Years) for n in range(1,101)]
spotDates=list(schedule)

#dayCount = ql.Thirty360()
dayCount=ql.ActualActual()
calendar = ql.UnitedStates()
interpolation = ql.Linear()
compounding = ql.Compounded
compoundingFrequency = ql.Annual
spotCurve = ql.ZeroCurve(spotDates, spotRates, dayCount, calendar, interpolation,compounding, compoundingFrequency)
spotCurveHandle = ql.YieldTermStructureHandle(spotCurve)

## implied term structure method

In [10]:
#implied forward curve
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,1,Years))
impl.zeroRate(1,ql.Compounded).rate()

0.02230028720965982

In [11]:
spreads = [ ql.SimpleQuote(0.0) for n in spotDates ]
base=extractInfoFromCurve(todayDate,spotCurve,spreads,["Date",'base'],spotCurve)
base.head()

100

                   Date      base
0  September 30th, 2019  0.000002
1  September 30th, 2020  0.024932
2  September 30th, 2021  0.023625
3  September 30th, 2022  0.022890
4  September 29th, 2023  0.022692

### Getting a forward rate

In [12]:
spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.ActualActual(),ql.Compounded).rate()

0.02230038901066811

## discount as simple cash flow

In [13]:
cf1=ql.SimpleCashFlow(1000,ql.Date(30, 9, 2020))
cf2=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2022))
cf3=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2023))
cflist=[cf1,cf2,cf3]

1/(cf1.amount()*spotCurveHandle.discount(cf1.date()))*1000

1.0249667743731472

#### discount multiple cash flows

In [14]:
calc_date = Date(20, 6, 2019)
risk_free_rate = 0.01

ir=ql.InterestRate(0.04,dayCount,ql.Compounded,ql.Annual)

discount_curve = YieldTermStructureHandle(
                    FlatForward(calc_date, risk_free_rate, ActualActual()))


cfZ=ql.SimpleCashFlow(1,ql.Date(30, 9, 2020))
1/ql.CashFlows.npv([cfZ],spotCurveHandle,True,ql.Date(30, 9, 2019))
1/ql.CashFlows.npv([cfZ],ir,True,ql.Date(30, 9, 2019))

1.0400283964306034

In [15]:
#ql.CashFlows.atmRate([cfZ],spotCurveHandle,False,ql.Date(30, 9, 2019))
#ql.CashFlows.atmRate([cfZ],spotCurveHandle,True,ql.Date(30, 9, 2020),ql.Date(30, 9, 2019),973.92)

### FORWARD MATCH FUNCTION

In [16]:
#implied forward curve from base
yearsInFuture=0
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,yearsInFuture,Years))
impl.zeroRate(1,ql.Compounded).rate()

#spreads 
spreads = [ ql.SimpleQuote(0.0) for n in spotDates ] # null spreads to begin
ScenarioCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(spotCurve),[ql.QuoteHandle(q) for q in spreads],spotDates)


scenHandle=ql.YieldTermStructureHandle(ScenarioCurve)
scenImpl=ql.ImpliedTermStructure(scenHandle,TARGET().advance(todayDate,yearsInFuture,Years))

#cost function=
scenImpl.zeroRate(1,ql.Compounded).rate()-impl.zeroRate(1,ql.Compounded).rate()

0.0

## Dumb optim functions to match scenarios

In [17]:



def dumboptim(guess,ScenCurve,baseCurve,todayDate,spotDate,spreads,target,indx):
    
    #futureDate=ql.TARGET().advance(todaysDate,nbfutureYears,Years)
    futureDate=spotDate
    baseCurveHandle = ql.YieldTermStructureHandle(baseCurve)
    
    spreads[indx].setValue(guess)
    yearPassed=ql.Thirty360().yearFraction(todayDate, spotDate)
    #yearPassed=indx
    
    scenHandle=ql.YieldTermStructureHandle(ScenCurve)
    scenTarget=scenHandle.zeroRate(yearPassed,ql.Compounded).rate()
    baseTarget=baseCurveHandle.zeroRate(yearPassed,ql.Compounded).rate()
    return scenTarget-baseTarget-target
    

def dumbOptimForward(guess,target,todayDate,fDate,spreads,ScenCurve,baseCurve,nbfutureYears):
    #print('X')
    #futureDate=ql.TARGET().advance(todaysDate,nbfutureYears,Years)
    futureDate=fDate
    baseCurveHandle = ql.YieldTermStructureHandle(baseCurve)
    
    spreads[nbfutureYears].setValue(guess)
    
    baseImpl=ql.ImpliedTermStructure(baseCurveHandle,fDate)
    #always the 1 year forward from a given future date calculated using the TARGET()
    baseZeroRate=baseImpl.zeroRate(1,ql.Compounded).rate()
    #print(baseZeroRate)
    scenHandle=ql.YieldTermStructureHandle(ScenCurve)
    
    scenImpl=ql.ImpliedTermStructure(scenHandle,fDate)
    scenZeroRate=scenImpl.zeroRate(1,ql.Compounded).rate()
    #print(scenZeroRate)
    #print(spreads[nbfutureYears].value())
    #print(scenZeroRate-baseZeroRate-target)
    return scenZeroRate-baseZeroRate-target

## Matching assuming its forward rates

In [31]:
client=py.MongoClient('mongodb://localhost:27017/')
dbt=client.bmaTest

In [48]:
deltas=dbt.test.find_one({'abc':'cda'})

In [47]:
#spreads 
#mybma=BmaScenarios()

datesX=list(spotCurve.dates())
spreads = [ ql.SimpleQuote(0.0) for n in spotDates ] # null spreads to begin
ScenCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(spotCurve),[ql.QuoteHandle(q) for q in spreads],datesX)

baseCurve=spotCurve
datesX=list(spotCurve.dates())
myGuess=0.03
spreads,colname=mybma.Scen2(spreads)

#spreads,colname=mybma.Scen2(spreads)

colname='test'
for t in range(1,100):
    if t>len(deltas['scen2'])-1:
        
    #target=spreads[t].value()
        target=deltas['scen2'][-1]
    else:
        target=deltas['scen2'][t]    
    #print(target)
    timePeriod=datesX[t-1]
    x=newton(bma.forwardMatch,myGuess,args=(target,todayDate,timePeriod,spreads,ScenCurve,baseCurve,t))
    


df2=extractInfoFromCurve(todayDate,baseCurve,spreads,["Date",colname],baseCurve)

df_bmaScenY=base.merge(df2,on=['Date'], suffixes=('','_lag'), how='left')
df_bmaScenY['delta']=df_bmaScenY['test']-df_bmaScenY['base']
df_bmaScenY.head(15)

100

                    Date      base      test         delta
0   September 30th, 2019  0.000002  0.000003  1.462456e-07
1   September 30th, 2020  0.024932  0.026432  1.500001e-03
2   September 30th, 2021  0.023625  0.025874  2.249326e-03
3   September 30th, 2022  0.022890  0.025890  3.000078e-03
4   September 29th, 2023  0.022692  0.026431  3.738848e-03
5   September 30th, 2024  0.022773  0.027265  4.492237e-03
6   September 30th, 2025  0.023009  0.028247  5.237790e-03
7   September 30th, 2026  0.023296  0.029282  5.986642e-03
8   September 30th, 2027  0.023606  0.030341  6.734825e-03
9   September 29th, 2028  0.023929  0.031394  7.465610e-03
10  September 28th, 2029  0.024263  0.032454  8.190104e-03
11  September 30th, 2030  0.024587  0.033397  8.809163e-03
12  September 30th, 2031  0.024867  0.034189  9.322143e-03
13  September 30th, 2032  0.025121  0.034877  9.756536e-03
14  September 30th, 2033  0.025350  0.035476  1.012564e-02

### Tests

In [50]:
baseCurveHandle = ql.YieldTermStructureHandle(baseCurve)
#spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.Thirty360(),ql.Compounded).rate()
scenHandle=ql.YieldTermStructureHandle(ScenCurve)
date1=ql.Date(30, 9, 2022)
date2=ql.Date(30, 9, 2023)
a=baseCurveHandle.forwardRate(date1,date2,ql.ActualActual(),ql.Compounded).rate()
b=scenHandle.forwardRate(date1,date2,ql.ActualActual(),ql.Compounded).rate()

assert b-a <0.006

## Match according to spot rates

In [21]:
spreads,colname=mybma.Scen2(spreads)
print(spreads[9].value())
todaysDate = ql.Date(30, 9, 2019)
myGuess=0.03
datesX=list(spotCurve.dates())

#for t in range(1,len([spotCurve.dates()])):
for t in range(1,85):   
    #t=t+1
    indx=t
    if t>98:
        break
    target=spreads[t].value()
    spotDate=datesX[t]
    x=newton(bma.spotRateMatch,myGuess,args=(ScenCurve,baseCurve,todayDate,spotDate,spreads,target,indx))

0.0135

In [22]:
df2=extractInfoFromCurve(todaysDate,spotCurve,spreads,["Date",colname],baseCurve)
    
df_bmaScenY=base.merge(df2,on=['Date'], suffixes=('','_lag'), how='left')
df_bmaScenY['delta']=df_bmaScenY['Scen2']-df_bmaScenY['base']

print(spreads[2].value())
df_bmaScenY.head(20)

100
0.002926475782581509

                    Date      base     Scen2         delta
0   September 30th, 2019  0.000002  0.000003  1.462456e-07
1   September 30th, 2020  0.024932  0.026432  1.500001e-03
2   September 30th, 2021  0.023625  0.026625  3.000001e-03
3   September 30th, 2022  0.022890  0.027390  4.500001e-03
4   September 29th, 2023  0.022692  0.028692  6.000001e-03
5   September 30th, 2024  0.022773  0.030273  7.500000e-03
6   September 30th, 2025  0.023009  0.032009  9.000000e-03
7   September 30th, 2026  0.023296  0.033796  1.050000e-02
8   September 30th, 2027  0.023606  0.035606  1.200000e-02
9   September 29th, 2028  0.023929  0.037429  1.350000e-02
10  September 28th, 2029  0.024263  0.039263  1.500000e-02
11  September 30th, 2030  0.024587  0.039587  1.500000e-02
12  September 30th, 2031  0.024867  0.039867  1.500000e-02
13  September 30th, 2032  0.025121  0.040121  1.500000e-02
14  September 30th, 2033  0.025350  0.040350  1.500000e-02
15  September 29th, 2034  0.025507  0.040507  1.500000e-02
16  September 28th, 2035  0.025676  0.040676  1.500000e-02
17  September 30th, 2036  0.025795  0.040795  1.500000e-02
18  September 30th, 2037  0.025907  0.040907  1.500000e-02
19  September 30th, 2038  0.025991  0.040991  1.500000e-02