# ReadMe

<font size="4">This Notebook is a walkthrough of various QuantLib funtionalities commonly used for financial mathematics AND an algorithm to create a time zero term structure of interest satisfying virtually any implied term structure changes via spreads.

this Notebook is divided into the following sections:<br><br>

__Inputs,Initialization and helper functions__:Section to import libraries, upload required inputs <br>
__Section 1.0__: an algorithm to create among other things what is known as the Bermuda Scenarios used for measuring interest rate risk. It essentially creates a time 0 term structure of interest by calibrating spreads between periods so that all implied term structure in future time periods are consistents with the required scenario. <br>
By creating such a time 0 curve, all is required after is simply discounting along it as the examples in section 1 to 6 show.

<br> __Section 2.0 to 7.0__: Examples of various financial mathematics applications such as creating a term structure of interest and working with its implied forward curves and discounting cash flows along a term structure of interest<br><br>

## Inputs, Initialization and helper functions

In [38]:
from QuantLib import *
import QuantLib as ql
import pandas as pd
import numpy as np
from copy import deepcopy
import os 
from scipy.optimize import newton, root_scalar
import quantFin as bma
import pymongo as py
from dataclasses import dataclass

In [2]:
path='/Users/gabounet/Quant_Finance/bma_discount2019Q1.xlsx'
todayDate = ql.Date(30, 9, 2019)
dfbma=pd.read_excel(path,sheet_name='test')
dfbma['US']=dfbma['US']
dfbma['US'].head()
dfbma.insert(0, 'ID', range(0, len(dfbma)))
dfbma['Date']=TARGET().advance(todayDate,0,Years)

In [6]:
#this connects to MongoDb which is a document database where assumptions & inputs are stored
client=py.MongoClient('mongodb://localhost:27017/')
dbt=client.bmaTest
deltas=dbt.test.find_one({'abc':'cba'}) #because this is a POC the schema of the documents has not been defined yet

In [7]:

def valuation_formula(y):
    return ql.TARGET().advance(todayDate,y*12,Months)

dfbma['Date'] = dfbma.apply(lambda row: valuation_formula(row['ID']), axis=1)

df_bmaScen=dfbma[['ID','Date','US']]
dfbma.head()

,ID,Maturity,US,Euro,UK,Switzerland,Canada,Japan,Australia,New Zealand,Hong Kong,Unnamed: 10,Date
0,0,0 Year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,"September 30th, 2019"
1,1,1 Year,0.024949,-0.004150,0.008589,-0.008367,0.019260,-0.001125,0.016224,0.015871,0.018065,0.023449,"September 30th, 2020"
2,2,2 Years,0.023625,-0.003782,0.008867,-0.008163,0.018607,-0.001350,0.015410,0.015413,0.018651,0.020625,"September 30th, 2021"
3,3,3 Years,0.022890,-0.003104,0.009352,-0.007725,0.018501,-0.001437,0.015476,0.015696,0.019001,NaN,"September 30th, 2022"
4,4,4 Years,0.022692,-0.002281,0.009883,-0.006728,0.018579,-0.001387,0.016134,0.016356,0.019424,NaN,"October 2nd, 2023"

# 1.0 Creating and calibrating a term Structure with spreads

In [8]:
dateStruct=bma.DateTimeStruct() #struct that contains defaults Date and time attributes
intStruct=bma.IntRatesStruct() #struct that contains defaults interest rates attributes

testSchedule=bma.create_schedule(dateStruct) #function to create a schedule

spotValues=dfbma['US'].tolist()[0:100]

spotT=bma.create_spotCurve(spotValues,testSchedule,dateStruct,intStruct) #function to create a spot curve

spreadT=deltas['scen2'] #deltas for KRD stored in MongoDb

mynewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate) #functioon to calibrate a term structure

## 1.1 Loop to create all BMA scenarios

In [10]:
listScen=['scen1','scen2']

dfList=[]
for scen in listScen:
    spreadT=deltas[scen]
    #spotT=spotCurve
    mynewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate)
    datesX=list(spotT.dates())
    test=bma.extract_info(mynewCurve,datesX,todayDate,scen)
    dfList.append(test)

#merge all into one
dfs = [df.set_index('date') for df in dfList]
finalDf=dfs[0].join(dfs[1:])    
finalDf.head()

                         scen1     scen2
date
September 30th, 2019  0.000002  0.000003
September 30th, 2020  0.023448  0.026450
September 30th, 2021  0.021374  0.025875
September 30th, 2022  0.019887  0.025890
September 29th, 2023  0.018941  0.026440

## 1.2 Tests and verifications

In [11]:
#to test that all time periods for the next 99 years are within 1 basis point of the target
baseCurveHandle = ql.YieldTermStructureHandle(spotT)
#spreads[22].setValue(-0.011828281330298842*0.995)
#spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.Thirty360(),ql.Compounded).rate()
scenHandle=ql.YieldTermStructureHandle(mynewCurve)
for year in range(1,99):
    #date1=ql.Date(30, 9, 2019+year-1)
    date1=TARGET().advance(todayDate,year-1,Years)
    #date2=ql.Date(30, 9, 2019+year)
    date2=datesX[year]
    baseImpl=ql.ImpliedTermStructure(baseCurveHandle,date1)
    scenImpl=ql.ImpliedTermStructure(scenHandle,date1)
    a=baseImpl.zeroRate(1,ql.Compounded).rate()
    
    b=scenImpl.zeroRate(1,ql.Compounded).rate()
    
    assert abs(b-a-spreadT[min(year,35)])<0.001

## 2.0 Obtaining forward rates from term structure of interest

In [12]:
spotCurveHandle = ql.YieldTermStructureHandle(spotT)
spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.ActualActual(),ql.Compounded).rate()

0.02230038901066811

## 3.0 implied term structure method

In [13]:
#implied forward curve
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,1,Years))
impl.zeroRate(1,ql.Compounded).rate()

0.02230028720965982

## 4.0 term structure with various spreads for KRD

In [14]:
spreads = [ ql.SimpleQuote(0.0) for n in datesX ]
base=bma.extract_info(spotT,datesX,todayDate)
base.head()

                   date  spot_rate
0  September 30th, 2019   0.000002
1  September 30th, 2020   0.024949
2  September 30th, 2021   0.023625
3  September 30th, 2022   0.022890
4  September 29th, 2023   0.022692

### 4.1: Test to show that adding 0 spreads equal the original term strucure

In [15]:
#implied forward curve from base
yearsInFuture=0
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,yearsInFuture,Years))
impl.zeroRate(1,ql.Compounded).rate()

#spreads 
spreads = [ ql.SimpleQuote(0.0) for n in datesX ] # null spreads to begin
ScenarioCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(spotT),[ql.QuoteHandle(q) for q in spreads],datesX)


scenHandle=ql.YieldTermStructureHandle(ScenarioCurve)
scenImpl=ql.ImpliedTermStructure(scenHandle,TARGET().advance(todayDate,yearsInFuture,Years))

#cost function=
scenImpl.zeroRate(1,ql.Compounded).rate()-impl.zeroRate(1,ql.Compounded).rate()

0.0

## 5.0 discount as simple cash flow

In [16]:
cf1=ql.SimpleCashFlow(1000,ql.Date(30, 9, 2020))
cf2=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2022))
cf3=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2023))
cflist=[cf1,cf2,cf3]

1/(cf1.amount()*spotCurveHandle.discount(cf1.date()))*1000

1.0249667743731472

### 5.1 discount multiple cash flows

In [33]:
calc_date = Date(30, 9, 2019)
risk_free_rate = 0.01

ir=ql.InterestRate(0.01,intStruct.dayCount,intStruct.compounding,intStruct.compoundingFrequency)

discount_curve = YieldTermStructureHandle(
                    ql.FlatForward(calc_date, risk_free_rate, ActualActual()))


spotCurveHandle = ql.YieldTermStructureHandle(spotT)
cfZ=ql.SimpleCashFlow(1,ql.Date(30, 9, 2023))
print("curve ",1/ql.CashFlows.npv([cfZ],discount_curve,True,ql.Date(30, 9, 2019)))

1/ql.CashFlows.npv([cfZ],ir,True,ql.Date(30, 9, 2019))

curve  1.0408107741923882

1.04060401

In [41]:

actModel=bma.ActuarialOutput()
intStructA=bma.IntRatesStruct()
dateStruct=bma.DateTimeStruct()
ScheduleA=bma.create_schedule(dateStruct)

#create curve
if intStructA.isFlat==True:
    discount_curve=ql.FlatForward(calc_date, risk_free_rate, intStructA.dayCount)
else:
    discount_curve=ql.YieldTermStructureHandle(spotT)

print("curve ",1/ql.CashFlows.npv([cfZ],discount_curve,True,ql.Date(30, 9, 2019)))

AttributeError: 'IntRatesStruct' object has no attribute 'isFlat'

## 6.0 Match according to spot rates

In [53]:

print(spreads[9].value())
todaysDate = ql.Date(30, 9, 2019)
myGuess=0.03
datesX=list(spotT.dates())

#for t in range(1,len([spotCurve.dates()])):
for t in range(1,85):   
    #t=t+1
    indx=t
    if t>98:
        break
    target=deltas['scen2'][min(t,30)]
    spotDate=datesX[t]
    x=newton(bma.spot_rate_match,myGuess,args=(ScenCurve,baseCurve,todayDate,spotDate,spreads,target,indx))

0.0

NameError: name 'ScenCurve' is not defined

In [58]:
df2=extractInfoFromCurve(todaysDate,spotCurve,spreads,["Date",colname],baseCurve)
    
df_bmaScenY=base.merge(df2,on=['Date'], suffixes=('','_lag'), how='left')
df_bmaScenY['delta']=df_bmaScenY['test']-df_bmaScenY['base']

print(spreads[2].value())
df_bmaScenY.head(20)

100
0.002926475782581509

                    Date      base      test         delta
0   September 30th, 2019  0.000002  0.000003  1.462456e-07
1   September 30th, 2020  0.024949  0.026450  1.501072e-03
2   September 30th, 2021  0.023625  0.026625  3.000001e-03
3   September 30th, 2022  0.022890  0.027390  4.500001e-03
4   September 29th, 2023  0.022692  0.028692  6.000058e-03
5   September 30th, 2024  0.022773  0.030274  7.501043e-03
6   September 30th, 2025  0.023009  0.032009  9.000000e-03
7   September 30th, 2026  0.023296  0.033796  1.050000e-02
8   September 30th, 2027  0.023606  0.035606  1.200000e-02
9   September 29th, 2028  0.023929  0.037430  1.350112e-02
10  September 28th, 2029  0.024263  0.039264  1.500011e-02
11  September 30th, 2030  0.024587  0.039587  1.500000e-02
12  September 30th, 2031  0.024867  0.039867  1.500000e-02
13  September 30th, 2032  0.025121  0.040121  1.500000e-02
14  September 30th, 2033  0.025350  0.040350  1.500000e-02
15  September 29th, 2034  0.025507  0.040507  1.500000e-02
16  September 28th, 2035  0.025676  0.040676  1.500000e-02
17  September 30th, 2036  0.025795  0.040795  1.500000e-02
18  September 30th, 2037  0.025907  0.040907  1.500000e-02
19  September 30th, 2038  0.025991  0.040991  1.500000e-02

In [16]:
12/22*360

196.36363636363635