# ReadMe

<font size="4">This Notebook is a walkthrough of various QuantLib funtionalities commonly used for financial mathematics AND an algorithm to create a time zero term structure of interest satisfying virtually any implied term structure changes via spreads.

this Notebook is divided into the following sections:<br><br>
__Inputs,Initialization and helper functions__:Section to import libraries, upload required inputs <br>
<br> __Section 1.0 to 6.0__: Examples of various financial mathematics applications such as creating a term structure of interest and working with its implied forward curves and discounting cash flows along a term structure of interest<br><br>

__Section 7.0__: an algorithm to create among other things what is known as the Bermuda Scenarios used for measuring interest rate risk. It essentially creates a time 0 term structure of interest by calibrating spreads between periods so that all implied term structure in future time periods are consistents with the required scenario. <br>
By creating such a time 0 curve, all is required after is simply discounting along it as the examples in section 1 to 6 show.

## Inputs, Initialization and helper functions

In [1]:
from QuantLib import *
import QuantLib as ql
import pandas as pd
import numpy as np
from copy import deepcopy
import os 
from scipy.optimize import newton, root_scalar
import bmaOs as bma
import pymongo as py
from dataclasses import dataclass

In [83]:
@dataclass
class DateTimeStruct:
    effectiveDate:ql.Date = ql.Date(30, 9, 2019)
    terminationDate = ql.Date(30, 9, 2118)
    tenor = ql.Period(ql.Annual)
    calendar = ql.UnitedStates()
    businessConvention = ql.Following
    terminationBusinessConvention = ql.Following
    dateGeneration = ql.DateGeneration.Forward
    endOfMonth = True

@dataclass
class IntRatesStruct:
    interpolation = ql.Linear()
    compounding = ql.Compounded
    compoundingFrequency = ql.Annual
    dayCount=ql.ActualActual()

In [2]:
path='/Users/gabounet/Quant_Finance/bma_discount2019Q1.xlsx'
todayDate = ql.Date(30, 9, 2019)
dfbma=pd.read_excel(path,sheet_name='test')
dfbma['US']=dfbma['US']
dfbma['US'].head()
dfbma.insert(0, 'ID', range(0, len(dfbma)))
dfbma['Date']=TARGET().advance(todayDate,0,Years)

In [3]:
#this connects to MongoDb which is a document database where assumptions & inputs are stored
client=py.MongoClient('mongodb://localhost:27017/')
dbt=client.bmaTest
deltas=dbt.test.find_one({'abc':'cda'}) #because this is a POC the schema of the documents has not been defined yet

In [4]:

def valuation_formula(y):
    return ql.TARGET().advance(todayDate,y,Months)

dfbma['Date'] = dfbma.apply(lambda row: valuation_formula(row['ID']), axis=1)

df_bmaScen=dfbma[['ID','Date','US']]
dfbma.head()

,ID,Maturity,US,Euro,UK,Switzerland,Canada,Japan,Australia,New Zealand,Hong Kong,Unnamed: 10,Date
0,0,0 Year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,"September 30th, 2019"
1,1,1 Year,0.024949,-0.004150,0.008589,-0.008367,0.019260,-0.001125,0.016224,0.015871,0.018065,0.023449,"October 30th, 2019"
2,2,2 Years,0.023625,-0.003782,0.008867,-0.008163,0.018607,-0.001350,0.015410,0.015413,0.018651,0.020625,"December 2nd, 2019"
3,3,3 Years,0.022890,-0.003104,0.009352,-0.007725,0.018501,-0.001437,0.015476,0.015696,0.019001,NaN,"December 30th, 2019"
4,4,4 Years,0.022692,-0.002281,0.009883,-0.006728,0.018579,-0.001387,0.016134,0.016356,0.019424,NaN,"January 30th, 2020"

# 1.0 Creating a schedule

In [32]:
#Schedule generation
effective_date = ql.Date(30, 9, 2019)
termination_date = ql.Date(30, 9, 2118)
tenor = ql.Period(ql.Annual)
calendar = ql.UnitedStates()
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = True
schedule = ql.Schedule(effective_date,
                             termination_date,
                             tenor,
                             calendar,
                             business_convention,termination_business_convention,
                             date_generation,
                             end_of_month)
#pd.DataFrame({'date': list(schedule)})

# 2.0 Creating a term structure of interest

In [33]:


#inputs from dataframe
spotRates = dfbma['US'].tolist()[0:100]
#dates that are incremented in yearts for the lenght of the term structure
#spotDates=[TARGET().advance(todaysDate,n,Years) for n in range(1,101)]
spotDates=list(schedule)

#dayCount = ql.Thirty360()
dayCount=ql.ActualActual()
calendar = ql.UnitedStates()
interpolation = ql.Linear()
compounding = ql.Compounded
compoundingFrequency = ql.Annual
spotCurve = ql.ZeroCurve(spotDates, spotRates, dayCount, calendar, interpolation,compounding, compoundingFrequency)
spotCurveHandle = ql.YieldTermStructureHandle(spotCurve)

In [8]:
def create_schedule(datetimeStruct):
    
    __effectiveDate = datetimeStruct.effectiveDate
    __terminationDate = datetimeStruct.terminationDate
    __tenor = datetimeStruct.tenor
    __calendar = datetimeStruct.calendar
    __businessConvention = datetimeStruct.businessConvention
    __terminationBusinessConvention = datetimeStruct.terminationBusinessConvention
    __dateGeneration = datetimeStruct.dateGeneration
    __endOfMonth = datetimeStruct.endOfMonth
    #creating the schedule
    schedule = ql.Schedule(__effectiveDate,
                             __terminationDate,
                             __tenor,
                             __calendar,
                             __businessConvention,__terminationBusinessConvention,
                             __dateGeneration,
                             __endOfMonth)
    
    return schedule


def create_spotCurve(spotValues,schedule,datetimeStruct,intRateStruct):
    #spotRates = spotValues.tolist()[0:100]
#dates that are incremented in yearts for the lenght of the term structure
#spotDates=[TARGET().advance(todaysDate,n,Years) for n in range(1,101)]
    spotDates=list(schedule)

    #dayCount = ql.Thirty360()
    
    __calendar = datetimeStruct.calendar
    __interpolation = intRateStruct.interpolation
    __compounding = intRateStruct.compounding
    __compoundingFrequency = intRateStruct.compoundingFrequency
    __dayCount=intRateStruct.dayCount
    spotCurve = ql.ZeroCurve(spotDates, spotValues, __dayCount, __calendar, __interpolation,__compounding, __compoundingFrequency)
    spotCurveHandle = ql.YieldTermStructureHandle(spotCurve)
    return spotCurve

## 2.1 Obtaining forward rates from term structure of interest

In [5]:
spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.ActualActual(),ql.Compounded).rate()

NameError: name 'spotCurveHandle' is not defined

## 3.0 implied term structure method

In [8]:
#implied forward curve
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,1,Years))
impl.zeroRate(1,ql.Compounded).rate()

0.02230028720965982

## 4.0 term structure with various spreads for KRD

In [19]:
spreads = [ ql.SimpleQuote(0.0) for n in spotDates ]
base=bma.extract_info_from_curve(todayDate,spotCurve,spreads,["Date",'base'],spotCurve)
base.head()

                   Date      base
0  September 30th, 2019  0.000002
1  September 30th, 2020  0.024949
2  September 30th, 2021  0.023625
3  September 30th, 2022  0.022890
4  September 29th, 2023  0.022692

### 4.1: Test to show that adding 0 spreads equal the original term strucure

In [7]:
#implied forward curve from base
yearsInFuture=0
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,yearsInFuture,Years))
impl.zeroRate(1,ql.Compounded).rate()

#spreads 
spreads = [ ql.SimpleQuote(0.0) for n in spotDates ] # null spreads to begin
ScenarioCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(spotCurve),[ql.QuoteHandle(q) for q in spreads],spotDates)


scenHandle=ql.YieldTermStructureHandle(ScenarioCurve)
scenImpl=ql.ImpliedTermStructure(scenHandle,TARGET().advance(todayDate,yearsInFuture,Years))

#cost function=
scenImpl.zeroRate(1,ql.Compounded).rate()-impl.zeroRate(1,ql.Compounded).rate()

0.0

## 5.0 discount as simple cash flow

In [11]:
cf1=ql.SimpleCashFlow(1000,ql.Date(30, 9, 2020))
cf2=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2022))
cf3=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2023))
cflist=[cf1,cf2,cf3]

1/(cf1.amount()*spotCurveHandle.discount(cf1.date()))*1000

1.0249667743731472

### 5.1 discount multiple cash flows

In [12]:
calc_date = Date(20, 6, 2019)
risk_free_rate = 0.01

ir=ql.InterestRate(0.04,dayCount,ql.Compounded,ql.Annual)

discount_curve = YieldTermStructureHandle(
                    FlatForward(calc_date, risk_free_rate, ActualActual()))


cfZ=ql.SimpleCashFlow(1,ql.Date(30, 9, 2020))
1/ql.CashFlows.npv([cfZ],spotCurveHandle,True,ql.Date(30, 9, 2019))
1/ql.CashFlows.npv([cfZ],ir,True,ql.Date(30, 9, 2019))

1.0400283964306034

## 6.0 Matching assuming its forward rates

In [12]:
dateStruct=bma.DateTimeStruct()
intStruct=bma.IntRatesStruct()
testSchedule=create_schedule(dateStruct)
spotValues=dfbma['US'].tolist()[0:100]
spotT=create_spotCurve(spotValues,testSchedule,dateStruct,intStruct)

In [19]:
spreadT=deltas['scen2']
#spotT=spotCurve
mynewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate)

In [14]:
datesX=list(spotT.dates())
test=bma.extract_info(spotT,datesX,todayDate)
test.head()

                   date  spot_rate
0  September 30th, 2019   0.000002
1  September 30th, 2020   0.024949
2  September 30th, 2021   0.023625
3  September 30th, 2022   0.022890
4  September 29th, 2023   0.022692

### 6.1 Loop to create all scenarios

In [17]:

listScen=['scen2','scen8']

dfList=[]
for scen in listScen:
    spreadT=deltas[scen]
    #spotT=spotCurve
    mynewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate)
    datesX=list(spotT.dates())
    test=bma.extract_info(mynewCurve,datesX,todayDate,scen)
    dfList.append(test)

#merge all into one
dfs = [df.set_index('date') for df in dfList]
finalDf=dfs[0].join(dfs[1:])    
finalDf.head()

                         scen2     scen8
date
September 30th, 2019  0.000003  0.000002
September 30th, 2020  0.026450  0.024949
September 30th, 2021  0.025875  0.023625
September 30th, 2022  0.025890  0.022890
September 29th, 2023  0.026440  0.022692

In [20]:
#to test that all time periods for the next 75 years are within 5 basis point of the target
baseCurveHandle = ql.YieldTermStructureHandle(spotT)
#spreads[22].setValue(-0.011828281330298842*0.995)
#spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.Thirty360(),ql.Compounded).rate()
scenHandle=ql.YieldTermStructureHandle(mynewCurve)
for year in range(1,100):
    #date1=ql.Date(30, 9, 2019+year-1)
    date1=TARGET().advance(todayDate,year-1,Years)
    #date2=ql.Date(30, 9, 2019+year)
    date2=datesX[year]
    baseImpl=ql.ImpliedTermStructure(baseCurveHandle,date1)
    scenImpl=ql.ImpliedTermStructure(scenHandle,date1)
    a=baseImpl.zeroRate(1,ql.Compounded).rate()
    
    b=scenImpl.zeroRate(1,ql.Compounded).rate()
    
    #print(10000*abs(abs((b-a))-deltas['scen2'][min(year,30)]))
    #print(year,' ',(b-a-deltas['scen2'][min(year,30)])*10000)
    print(year,'|',round(a,4),'|',round(b,4),'|', b-a)
    #print(spreads[26].value)

1 | 0.0249 | 0.0264 | 0.0015000121008466039
2 | 0.0223 | 0.0253 | 0.0030000002257224434
3 | 0.0214 | 0.0259 | 0.004500044579272888
4 | 0.0221 | 0.0281 | 0.0059998827038365565
5 | 0.0231 | 0.0306 | 0.007512318182882671
6 | 0.0242 | 0.0332 | 0.008999953488190604
7 | 0.025 | 0.0355 | 0.010500004183660483
8 | 0.0258 | 0.0378 | 0.012000017169523591
9 | 0.0265 | 0.04 | 0.013499057903816336
10 | 0.0273 | 0.0423 | 0.01499943143865079
11 | 0.0278 | 0.0428 | 0.015007056633050686
12 | 0.0279 | 0.0429 | 0.015000000013144277
13 | 0.0282 | 0.0432 | 0.015000000014868897
14 | 0.0283 | 0.0433 | 0.014999279262962295
15 | 0.0277 | 0.0427 | 0.01499588189522294
16 | 0.0282 | 0.0432 | 0.014996206076838936
17 | 0.0277 | 0.0427 | 0.015003143249747053
18 | 0.0278 | 0.0428 | 0.014998848756671457
19 | 0.0275 | 0.0425 | 0.01500000003101265
20 | 0.0273 | 0.0423 | 0.015000000034764538
21 | 0.0268 | 0.0418 | 0.0149865499204207
22 | 0.0268 | 0.0418 | 0.01500144443976148
23 | 0.0267 | 0.0417 | 0.015000000048459805
24 | 0.0267 | 0.0417 | 0.015000000053950302
25 | 0.0266 | 0.0416 | 0.01500000005963198
26 | 0.0265 | 0.0415 | 0.014983119785627386
27 | 0.0264 | 0.0414 | 0.014986799895776004
28 | 0.0263 | 0.0413 | 0.015001001182260776
29 | 0.0261 | 0.0411 | 0.015000000089848697
30 | 0.026 | 0.041 | 0.01499638841692974
31 | 0.0269 | 0.0419 | 0.015000000110076739
32 | 0.0283 | 0.0433 | 0.01498266064375331
33 | 0.0296 | 0.0446 | 0.01500043940164919
34 | 0.0311 | 0.046 | 0.014995341309686161
35 | 0.0325 | 0.0475 | 0.015000000164319127
36 | 0.0339 | 0.0489 | 0.015000000181629725
37 | 0.0353 | 0.0503 | 0.014980535489804492
38 | 0.0368 | 0.0517 | 0.014967595873986994
39 | 0.038 | 0.053 | 0.015000514570271184
40 | 0.0394 | 0.0544 | 0.015000000272112235
41 | 0.0407 | 0.0557 | 0.015000000299071559
42 | 0.042 | 0.057 | 0.014991851067664097
43 | 0.0432 | 0.0581 | 0.01496325078503924
44 | 0.0443 | 0.0592 | 0.014963834330588455
45 | 0.0451 | 0.0601 | 0.015000416141690565
46 | 0.0461 | 0.0611 | 0.01499033358838342
47 | 0.0469 | 0.0619 | 0.015000000546541381
48 | 0.0476 | 0.0626 | 0.01500000060189044
49 | 0.0482 | 0.0631 | 0.014918036092702813
50 | 0.0484 | 0.0634 | 0.015000274641006062
51 | 0.0487 | 0.0637 | 0.015000000802775748
52 | 0.0488 | 0.0638 | 0.015000000880271536
53 | 0.0486 | 0.0636 | 0.015000000958662829
54 | 0.0484 | 0.0633 | 0.014923475536814834
55 | 0.0479 | 0.0628 | 0.014939995168250952
56 | 0.0471 | 0.0621 | 0.015000250703695261
57 | 0.0462 | 0.0612 | 0.015000001365985893
58 | 0.0451 | 0.06 | 0.014984158175065376
59 | 0.0436 | 0.0586 | 0.015000001616348957
60 | 0.042 | 0.057 | 0.014931445729362336
61 | 0.042 | 0.057 | 0.015000050266118725
62 | 0.042 | 0.057 | 0.014982070443707807
63 | 0.042 | 0.057 | 0.015000002214075714
64 | 0.042 | 0.057 | 0.015000002388948053
65 | 0.042 | 0.057 | 0.01493643430568059
66 | 0.042 | 0.0569 | 0.014894307733774426
67 | 0.042 | 0.057 | 0.015000176354441175
68 | 0.042 | 0.057 | 0.01500000323873274
69 | 0.042 | 0.057 | 0.015000003462667832
70 | 0.042 | 0.057 | 0.014975702801629964
71 | 0.042 | 0.0569 | 0.01489622504718624
72 | 0.042 | 0.0569 | 0.014897976972711113
73 | 0.042 | 0.057 | 0.01500011497680176
74 | 0.042 | 0.057 | 0.014973151750042213
75 | 0.042 | 0.057 | 0.015000005355876533
76 | 0.042 | 0.057 | 0.015000005730732013
77 | 0.042 | 0.0568 | 0.014790427458469368
78 | 0.042 | 0.057 | 0.015000118368305948
79 | 0.042 | 0.057 | 0.015000007055120168
80 | 0.042 | 0.057 | 0.015000007530585613
81 | 0.042 | 0.057 | 0.015000008033569046
82 | 0.042 | 0.057 | 0.01500000856540451
83 | 0.042 | 0.0569 | 0.014859266428047135
84 | 0.042 | 0.0569 | 0.01486164722461969
85 | 0.042 | 0.057 | 0.015000058620772139
86 | 0.042 | 0.057 | 0.014963690151226894
87 | 0.042 | 0.057 | 0.015000011849479744
88 | 0.042 | 0.057 | 0.015000012593102907
89 | 0.042 | 0.0567 | 0.014721188502886395
90 | 0.042 | 0.057 | 0.015000098422678576
91 | 0.042 | 0.057 | 0.015000015227153884
92 | 0.042 | 0.057 | 0.015000016150281903
93 | 0.042 | 0.057 | 0.015000017029368484
94 | 0.042 | 0.0568 | 0.014765973193969328
95 | 0.042 | 0.0568 | 0.014816425091849883
96 | 0.042 | 0.057 | 0.015000105498710115
97 | 0.042 | 0.057 | 0.015000021730556812
98 | 0.042 | 0.057 | 0.014951965090971742
99 | 0.042 | 0.057 | 0.015000024470991802

## 7.0 Match according to spot rates

In [56]:

print(spreads[9].value())
todaysDate = ql.Date(30, 9, 2019)
myGuess=0.03
datesX=list(spotCurve.dates())

#for t in range(1,len([spotCurve.dates()])):
for t in range(1,85):   
    #t=t+1
    indx=t
    if t>98:
        break
    target=deltas['scen2'][min(t,30)]
    spotDate=datesX[t]
    x=newton(bma.spotRateMatch,myGuess,args=(ScenCurve,baseCurve,todayDate,spotDate,spreads,target,indx))

0.013099427947614402

In [58]:
df2=extractInfoFromCurve(todaysDate,spotCurve,spreads,["Date",colname],baseCurve)
    
df_bmaScenY=base.merge(df2,on=['Date'], suffixes=('','_lag'), how='left')
df_bmaScenY['delta']=df_bmaScenY['test']-df_bmaScenY['base']

print(spreads[2].value())
df_bmaScenY.head(20)

100
0.002926475782581509

                    Date      base      test         delta
0   September 30th, 2019  0.000002  0.000003  1.462456e-07
1   September 30th, 2020  0.024949  0.026450  1.501072e-03
2   September 30th, 2021  0.023625  0.026625  3.000001e-03
3   September 30th, 2022  0.022890  0.027390  4.500001e-03
4   September 29th, 2023  0.022692  0.028692  6.000058e-03
5   September 30th, 2024  0.022773  0.030274  7.501043e-03
6   September 30th, 2025  0.023009  0.032009  9.000000e-03
7   September 30th, 2026  0.023296  0.033796  1.050000e-02
8   September 30th, 2027  0.023606  0.035606  1.200000e-02
9   September 29th, 2028  0.023929  0.037430  1.350112e-02
10  September 28th, 2029  0.024263  0.039264  1.500011e-02
11  September 30th, 2030  0.024587  0.039587  1.500000e-02
12  September 30th, 2031  0.024867  0.039867  1.500000e-02
13  September 30th, 2032  0.025121  0.040121  1.500000e-02
14  September 30th, 2033  0.025350  0.040350  1.500000e-02
15  September 29th, 2034  0.025507  0.040507  1.500000e-02
16  September 28th, 2035  0.025676  0.040676  1.500000e-02
17  September 30th, 2036  0.025795  0.040795  1.500000e-02
18  September 30th, 2037  0.025907  0.040907  1.500000e-02
19  September 30th, 2038  0.025991  0.040991  1.500000e-02

In [16]:
12/22*360

196.36363636363635